@import "../../variables.scss";

.UserProfil__name {
  font-size: 25px;
  text-align: right;
  color: rgb(9, 9, 9);
  margin: 2vw;
}
.UserProfil__img {
  height: 20vh;
}
.UserProfil__myInfo {
  background-color: rgb(213, 108, 6);
  padding: 4%;
  margin-left: 64%;
  margin-right: 3%;
  width: 25%;
  border-radius: 30px 30px 0px 0px;
  text-align: center;
  color: aliceblue;
}

.UserProfil__info {
  background-color: rgb(225, 152, 79);
  border-radius: 30px 0px 30px 30px;
  display: grid;
  padding-left: 2em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 21vh;
  margin-left: 3vw;
  margin-right: 3vw;
}
.UserProfil__pseudo {
  grid-area: 1 / 1 / 2 / 2;
  flex-direction: column;
  color: aliceblue;
}
.UserProfil__pseudo__input {
  border-radius: 56px;
  width: 80%;
  height: 3vh;
}
.UserProfil__anniversaire {
  grid-area: 1 / 2 / 2 / 3;
  color: aliceblue;
}
.UserProfil__anniversaire__input {
  border-radius: 56px;
  width: 80%;
  height: 3vh;
}

.UserProfil__nom {
  grid-area: 2 / 1 / 3 / 2;
  color: aliceblue;
}
.UserProfil__nom__input {
  border-radius: 56px;
  width: 80%;
  height: 3vh;
}
.UserProfil__prenom {
  grid-area: 2 / 2 / 3 / 3;
  color: aliceblue;
}
.UserProfil__prenom__input {
  border-radius: 56px;
  width: 80%;
  height: 3vh;
}
.UserProfil__mail {
  grid-area: 3 / 1 / 4 / 3;
  color: aliceblue;
}
.UserProfil__mail__input {
  border-radius: 56px;
  width: 90%;
  height: 3vh;
}
.UserProfil__button__post {
  background-color: rgb(151, 191, 13);
  color: aliceblue;
  height: 5vh;
  width: 50vw;
  border-radius: 56px;
  border: none;
  margin-left: 3vw;
  margin-top: 5vw;
}
