.thecomment {
  margin-top: 5%;
  margin-left: 8%;
  margin-bottom: 8%;
  height: 22vh;
  width: 65%;
  background-color: #fff6ec;
  border-radius: 15px;
  border: 2px solid #99948d;
  box-shadow: 5px 5px 6px 0px #000000;
}
