@import "../../variables.scss";

.formLogin {
  height: 100vh;

  .formLogin__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 10em;
    width: 100%;
    position: absolute;
    bottom: 10%;

    .formLogin__inputs__text {
      border-radius: 20px;
      border: 1px solid rgba(137, 137, 137, 1);
      background-color: #ffffff;
      height: 1.4em;
      width: 50%;
    }
    .formLogin__inputs__submit {
      width: 30%;
      height: 2em;
      font-family: "Hubbali";
      color: #ffffff;
      border: 0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      background-color: #97bf0d;
    }
  }
}
