@import "../../variables.scss";
.comment {
  margin-top: 5%;
  margin-left: 8%;
  margin-bottom: 8%;
  width: 85%;
  background-color: #fff6ec;
  border-radius: 15px;
  border: 2px solid #99948d;
  box-shadow: 10px 6px 11px -6px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 10px 6px 11px -6px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 10px 6px 11px -6px rgba(0, 0, 0, 0.36);
}
.flex-item {
  width: 100%;
}

.comment__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.comment__userLogo__img {
  width: 22%;
  margin-top: 1vh;
}
.comment__container {
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
.comment__user__name {
  font-size: 24px;
  width: 78%;
}

.comment__date {
  margin-top: 2vh;
  margin-left: 2vw;
}
.comment__text {
  margin: 2vw;
}
