@import "../../variables.scss";

.userProfil {
  margin-bottom: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .UserProfil__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -1em;

    .UserProfil__header__img {
      width: 100%;
      object-fit: cover;
    }

    .UserProfil__header__info {
      display: flex;
      justify-content: end;
      width: 90%;
      gap: 1em;
      margin: 0.5em;
      .UserProfil__header__info__name {
        font-size: 30px;
      }
      .UserProfil__header__info__Button {
        all: unset;
        width: 7.5%;
        .UserProfil__header__info__Button__img {
          width: 100%;
        }
      }
    }
  }

  .Userprofil__form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: end;

    .UserProfil__form__buttonMyInfo {
      background-color: rgb(213, 108, 6);
      border: none;
      padding: 2%;
      width: 35%;
      border-radius: 20px 20px 0px 0px;
      text-align: center;
      color: aliceblue;
    }
    .UserProfil__form__buttonMyInfoOff {
      background-color: rgb(213, 108, 6);
      border: none;
      padding: 2%;
      width: 35%;
      border-radius: 20px;
      text-align: center;
      color: $secondaryFontColor;
    }
    .UserProfil__form__info {
      background-color: rgb(225, 152, 79);
      border-radius: 20px 0px 20px 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 3%;
      padding: 3%;

      .UserProfil__form__info__pseudo {
        display: flex;
        flex-direction: column;
        grid-area: 1 / 1 / 2 / 2;
        color: $secondaryFontColor;
      }
      .UserProfil__form__info__born {
        display: flex;
        flex-direction: column;
        grid-area: 1 / 2 / 2 / 3;
        color: $secondaryFontColor;
      }
      .UserProfil__form__info__name {
        display: flex;
        flex-direction: column;
        grid-area: 2 / 1 / 3 / 2;
        color: $secondaryFontColor;
      }
      .UserProfil__form__info__firstname {
        display: flex;
        flex-direction: column;
        grid-area: 2 / 2 / 3 / 3;
        color: $secondaryFontColor;
      }
      .UserProfil__form__info__email {
        display: flex;
        flex-direction: column;
        grid-area: 3 / 1 / 4 / 3;
        color: $secondaryFontColor;
      }
      .UserProfil__form__info__input {
        border-radius: 30px;
        width: 100%;
        border: none;
        margin: 1% 0 2% 0;
        padding: 0.3em 0em 0.3em 0.2em;
      }
    }
  }
  .UserProfil__myRecipes {
    display: flex;
    flex-direction: column;
    width: 90%;

    .UserProfil__myRecipes__title {
      font-size: 2.4em;
      margin: 3% 0;
    }

    .UserProfil__button__post {
      all: unset;
      background-color: rgb(151, 191, 13);
      font-size: 25px;
      color: $secondaryFontColor;
      width: 60%;
      border-radius: 30px;
      border: none;
      text-align: center;
      padding: 2%;
      margin: 15% 0 5%;
    }
  }
}

@media screen and (min-width: 500px) {
  .userProfil {
    .UserProfil__header {
      width: 80%;

      .UserProfil__header__img {
        border-top: 2px solid $mainColor;
        border-radius: 0 0 20px 20px;
      }

      .UserProfil__header__info {
        width: 100%;

        .UserProfil__header__info__name {
          font-size: 3em;
        }
        .UserProfil__header__info__Button {
          width: 2.8em;
        }
      }
    }

    .Userprofil__form {
      width: 80%;
      .UserProfil__form__buttonMyInfo {
        width: 10%;
        padding: 1%;
        font-size: 1.2em;
      }
      .UserProfil__form__buttonMyInfoOff {
        width: 10%;
        padding: 1%;
        font-size: 1.2em;
      }
      .UserProfil__form__info {
        width: 100%;
        padding: 0;

        .UserProfil__form__info__pseudo {
          margin: 0.5em 1em;
          font-size: 1.4em;
        }
        .UserProfil__form__info__born {
          margin: 0.5em 1em;
          font-size: 1.4em;
        }
        .UserProfil__form__info__name {
          margin: 0.5em 1em;
          font-size: 1.4em;
        }
        .UserProfil__form__info__firstname {
          margin: 0.5em 1em;
          font-size: 1.4em;
        }
        .UserProfil__form__info__email {
          font-size: 1.4em;
          margin: 0.5em 1em;
        }
        .UserProfil__form__info__input {
          margin: 0.5em 0 0;
          width: 100%;
        }
      }
    }
    .UserProfil__myRecipes {
      width: 80%;

      .UserProfil__button__post {
        width: 20%;
        margin: 1em 0;
        font-size: 1.8em;
        padding: 0.5em;
      }

      .UserProfil__myRecipes__Cards {
        display: flex;
        flex-wrap: wrap;
        gap: 3em;
        justify-content: space-between;
      }
    }
  }
}
