@import "../../variables.scss";

.addIngredients {
  margin: 2.5em 0 0;

  .addIngredients__title {
    font-size: 2.4em;
  }
  .addIngredients__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 20px;
    padding: 1em;
    margin: 2em 0;
    grid-column-gap: 1em;
    border: solid 2px $mainColor;

    .addIngredients__form__ingredient {
      font-size: 1.5em;
      grid-area: 1 / 1 / 2 / 4;
      width: 100%;
      height: auto;
      .addIngredients__form__ingredient__select {
        border-radius: 30px;
        font-size: 1.5rem;
        margin-top: 0.25em;
        padding: 0.2em 0;
        width: 100%;
        border: 1px solid $mainColor;
      }
    }
    .addIngredients__form__quantity {
      font-size: 1.5em;
      grid-area: 2 / 1 / 3 / 2;
      width: 100%;

      .addIngredients__form__quantity__input {
        border-radius: 30px;
        font-size: 1.5rem;
        margin-top: 0.25em;
        padding: 0.24em;
        width: 100%;
        border: 1px solid $mainColor;
      }
    }
    .addIngredients__form__unit {
      font-size: 1.5em;
      grid-area: 2 / 2 / 3 / 4;
      width: 100%;

      .addIngredients__form__unit__select {
        border-radius: 30px;
        font-size: 1.5rem;
        margin-top: 0.25em;
        padding: 0.2em;
        width: 100%;
        border: 1px solid $mainColor;
      }
    }
    .addIngredients__form__button {
      grid-area: 3 / 1 / 4 / 4;
      margin: 1em 0 0;
      font-size: clamp(10px, 8.5vw, 32px);
      background-color: $mainColor;
      color: $secondaryFontColor;
      border: none;
      border-radius: 30px;
      padding: 0.2em;
    }
    .addIngredients__form__button:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: $mainColor;
    }
  }
  .addIngredients__List {
    .addIngredients__List__element {
      background-color: $mainColorTransparent;
      padding: 0.5em;
      border-radius: 20px;
      text-align: center;
      margin: 0.5em 0;
      .addIngredients__List__element__title {
        font-size: 1.5rem;
      }
      .addIngredients__List__element__quantity {
        font-size: 1.5rem;
      }
    }
  }
}
