.UtensilCard {
  background-color: white;
  height: 7em;
  width: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  padding: 0.5em 0;

  .UtensilCard__img {
    height: 65%;
    width: 60%;
  }

  .ingredientCard__info {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 35%;
    justify-content: space-evenly;
    .UtensilCard__name {
      font-size: 15px;
      text-align: center;
    }

    .ingredientCard__info__quantity {
      font-weight: 900;
      text-align: center;
      font-size: 15px;
    }
  }
}
