@import "../../variables.scss";

.RecipeInfo {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;

  .RecipeInfo__img {
    width: 80%;
  }

  .RecipeInfo__header {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column-reverse;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 20px 20px;

    .RecipeInfo__header__diet__vegan {
      width: 2em;
      margin: 0.3em;
    }
  }

  .RecipeInfo__info {
    width: 98%;
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;

    .RecipeInfo_info__p {
      font-family: "handlee", "cursive";
    }

    .RecipeInfo_info__stars {
      width: 30%;
    }
  }

  .RecipeInfo__info__title {
    font-family: "hubballi";
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
    width: 98%;
    text-align: center;
  }

  .RecipeInfo__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;

    .RecipeInfo__details__union {
      height: 0.2em;
      width: 1em;
    }

    .RecipeInfo__details__difficulty {
      display: flex;

      .RecipeInfo__details__difficulty__hote {
        height: 1em;
        width: 1em;
        margin-right: 0.15em;
      }
    }
    .RecipeInfo__details__time {
      display: flex;

      .RecipeInfo__details__time__clock {
        height: 1em;
        width: 1em;
        margin-right: 0.15em;
      }
    }
    .RecipeInfo__details__price {
      display: flex;

      .RecipeInfo__details__price__euro {
        height: 1em;
        width: 1em;
        margin-right: 0.15em;
      }
    }
  }
  .RecipeInfo__nbShare {
    margin-top: 1em;
    font-size: 26px;
  }
}
