@import "../../variables.scss";

.navbar {
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 100%;
}
.navbar__list {
  background-color: $tertiaryColor;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 6vh;
  padding: 0.5em;
}

.navbar__item {
  display: flex;
  font-family: "handlee", "cursive";
  color: $mainColor;
}
.navbar__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__icon {
  height: 100%;
}
