@import "../../variables.scss";

.swiperCard {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  background-color: $lightGreyBackground;
  .swiperCard__img {
    width: 80%;
  }

  .swiperCard__logo {
    width: 80%;
    height: 22vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: flex-end;
    background-image: url("/src/assets/recipePicture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px #d56c06;
    border-radius: 0 20px 0 20px;
    .swiperCard__logo__diet__vegan {
      width: 2em;
      margin: 0.3em;
    }
  }
  .swiperCard__info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-align: start;

    .swiperCard__info__title {
      margin: 0;
      width: 70%;
      font-size: 1.25em;
    }
    .swiperCard_info__stars {
      display: flex;
      width: 40%;
    }
  }
}

@media screen and (min-width: 500px) {
  .swiperCard {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    background-color: $lightGreyBackground;
    .swiperCard__img {
      width: 80%;
    }

    .swiperCard__logo {
      width: 80%;
      height: 80vh;
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
      align-items: flex-end;
      background-image: url("/src/assets/recipePicture.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: solid 2px #d56c06;
      border-radius: 0 20px 0 20px;
      .swiperCard__logo__diet__vegan {
        width: 2em;
        margin: 0.3em;
      }
    }
    .swiperCard__info {
      width: 80%;
      display: flex;
      justify-content: space-between;
      text-align: start;

      .swiperCard__info__title {
        margin: 0;
        width: 70%;
        font-size: 1.25em;
      }
      .swiperCard_info__stars {
        display: flex;
        width: 40%;
      }
    }
  }
}
