@import "../../variables.scss";

.home__recipeDay__title {
  font-size: 2.5rem;
  width: 84%;
  margin: 0 auto;
}
.home__recipeDay {
  flex-direction: column;
  align-items: center;
  margin: 0 0 0.5em 0;
}
.little_recipeCard {
  display: none;
}
.home__Theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 22em;
  .home__Theme__title {
    font-size: 2.5rem;
    width: 84%;
    margin: 0.5em 0 0.25em 0;
  }
}

@media screen and (min-width: 800px) {
  .home__recipeDay__title {
    display: none;
  }
  .home__recipeDay {
    width: 45%;
  }
  .header__home {
    display: flex;
    justify-content: space-evenly;
  }
  .little_recipeCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    height: 65vh;
  }

  .home__Theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    .home__Theme__title {
      font-size: 2.5rem;
      width: 84%;
      margin: 0.5em 0 0.25em 0;
    }
  }
}
