@import "../../variables.scss";

.helloHome {
  font-size: 3rem;
  text-align: center;
  color: pink;
}
.titleHome {
  font-size: 2rem;
  padding-left: 8vw;
  padding-bottom: 3vh;
  padding-top: 7vh;
}
