@import "../../variables.scss";

body {
  background-color: $lightGreyBackground;
}

.page__recipe {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: clamp(375px, 100vw, 800px);
  align-self: center;
  margin-bottom: 6vw;
}

.ingredientsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: center;
  width: clamp(375px, 80%, 500px);
}
.utensilsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: center;
}
.commentList {
  width: 90%;
}
.recipe__cardContainer {
  background-color: $mainColorTransparent;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 1em 0;
}

.recipe__stepContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.recipe__buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 1em 0 1.5em 0;
  font-size: 1.3em;
  gap: 1em;
}
.recipe__navButton {
  all: unset;
  padding: 5px;
  border-bottom: 1px solid $mainColor;
}
.button__Focus {
  all: unset;
  color: white;
  padding: 10px;
  background-color: $mainColor;
  border-radius: 15px;
  box-shadow: 4px 3px 4px -1px rgba(0, 0, 0, 0.34);
}
