@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Hubballi", sans-serif;
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $tertiaryColor;
}
