@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi&display=swap");

// variable background

$mainColor: #d56c06;
$secondaryColor: #97bf0d;
$tertiaryColor: #fff6ec;
$lightGreyBackground: #fcf9f4;

// variable font :

$mainFontColor: #3c3c3c;
$secondaryFontColor: #ffffff;
$TitleFontSize: 2em;
