@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi&display=swap");

$mainColor: #d56c06;
$mainColorTransparent: hsla(30, 95%, 43%, 0.17);
$secondaryColor: #97bf0d;
$tertiaryColor: #fff6ec;
$lightGreyBackground: #fcf9f4;
