@import "../../variables.scss";

.tagCard {
  position: relative;
  display: inline-block;
  width: 45%;
}
.tagname {
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  height: 6vh;
  position: absolute;
  top: 35%;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
}

.tagCard__img {
  display: block;
  width: 100%;
  object-fit: contain;
  border: 2px solid $mainColor;
  border-radius: 20px;
}
