@import "../../variables.scss";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .swiper {
    width: 100%;
    height: 100%;
  }
}
