@import "../../variables.scss";

.tagCardContainer {
  background-color: $tertiaryColor;
  row-gap: 20px;
  justify-content: space-around;
  display: flex;
  flex-flow: wrap;
}
.title {
  background-color: red;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.searchBar {
  display: flex;
  background-color: $tertiaryColor;
  width: 80%;
  margin: 0 auto;
  height: 5vh;
  border: 2px solid $mainColor;
  border-radius: 10px;
}
.searchBar__form {
  all: unset;
  font-family: "Handlee", sans-serif;
  width: 100%;
  height: 100%;
}
.searchBar__searchButton {
  all: unset;
}
.searchBar:focus {
  background-color: white;
}
.searchBar__searchIcon {
  padding: 5px;
  width: 5vh;
  object-fit: contain;
}
